In [5]:
import findspark
findspark.init()

In [6]:
import pyspark 
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("StudyApp").getOrCreate()

In [7]:
data=[101,"Ravi",4000],[102,"Ketan",4500],[103,"vishal",6000]
df=spark.createDataFrame(data,["EMPID","EMPNAME","SAL"])

In [4]:
import findspark
findspark.init()

In [5]:
df

DataFrame[EMPID: bigint, EMPNAME: string, SAL: bigint]

In [6]:
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [7]:
df.show()

+-----+-------+----+
|EMPID|EMPNAME| SAL|
+-----+-------+----+
|  101|   Ravi|4000|
|  102|  Ketan|4500|
|  103| vishal|6000|
+-----+-------+----+

In [8]:
df.toPandas()
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [21]:
df1=df.toPandas()
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [22]:
df.columns

['EMPID', 'EMPNAME', 'SAL']

In [13]:
df.count()

3

In [8]:
df=spark.read.csv("D:\\items1.csv",header=True)
df.show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [9]:
pdf=df.head()
pdf

Row(itemid='1', itemname='Pencil', itemcost='4', supplier='Y', grade='B', qty='6')

In [10]:
df1=df.toPandas()
df1

  itemid  itemname itemcost supplier grade   qty
0      1    Pencil        4        Y     B     6
1      2       Pen       43        X     A     1
2      3    Duster       54        Y     C     3
3      4     Chock       65        X     A     4
4      5  notebook     None     None  None  None
5      6      None     None     None  None  None
6      7   shopner     None        Y     C  None
7      8    Duster       54        Y     C     3
8      9     Chock       65        X     A     4

In [11]:
#aggregattion tasks
df.show()
df.groupBy('grade').agg({'grade':'count'}).show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

+-----+------------+
|grade|count(grade)|
+-----+------------+
| null|           0|
|    B|           1|
|    C|           3|
|    A|           3|
+-----+------------+

In [12]:
df1=spark.read.csv("D:\\items1.csv")
df1.show()

+------+--------+--------+--------+-----+----+
|   _c0|     _c1|     _c2|     _c3|  _c4| _c5|
+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [13]:
df1.groupBy('_c4').agg({'_c4':'count'}).show()

+-----+----------+
|  _c4|count(_c4)|
+-----+----------+
|grade|         1|
| null|         0|
|    B|         1|
|    C|         3|
|    A|         3|
+-----+----------+

In [14]:
df.groupBy('supplier').agg({'itemcost':'min'}).show()

+--------+-------------+
|supplier|min(itemcost)|
+--------+-------------+
|    null|         null|
|       X|           43|
|       Y|            4|
+--------+-------------+

In [15]:
df.groupBy('supplier').agg({'itemcost':'max'}).show()

+--------+-------------+
|supplier|max(itemcost)|
+--------+-------------+
|    null|         null|
|       X|           65|
|       Y|           54|
+--------+-------------+

In [16]:
from pyspark.sql import functions as f
df.groupBy('itemid').agg(f.max('supplier'),f.min('supplier'),
                        f.avg('supplier'),f.sum('supplier')).show()

+------+-------------+-------------+-------------+-------------+
|itemid|max(supplier)|min(supplier)|avg(supplier)|sum(supplier)|
+------+-------------+-------------+-------------+-------------+
|     1|            Y|            Y|         null|         null|
|     2|            X|            X|         null|         null|
|     3|            Y|            Y|         null|         null|
|     4|            X|            X|         null|         null|
|     5|         null|         null|         null|         null|
|     6|         null|         null|         null|         null|
|     7|            Y|            Y|         null|         null|
|     8|            Y|            Y|         null|         null|
|     9|            X|            X|         null|         null|
+------+-------------+-------------+-------------+-------------+

In [17]:
df.rdd.id()

84

In [18]:
df1=df
df1.rdd.id()

84

In [19]:
df2=df.withColumn('Bill',df['itemcost']*df['itemid'])
df2.rdd.id()

90

In [20]:
df4=df.withColumn('Tax',df['itemcost']+2000)

In [21]:
rowslst=df4.collect()
rowslst

[Row(itemid='1', itemname='Pencil', itemcost='4', supplier='Y', grade='B', qty='6', Tax=2004.0),
 Row(itemid='2', itemname='Pen', itemcost='43', supplier='X', grade='A', qty='1', Tax=2043.0),
 Row(itemid='3', itemname='Duster', itemcost='54', supplier='Y', grade='C', qty='3', Tax=2054.0),
 Row(itemid='4', itemname='Chock', itemcost='65', supplier='X', grade='A', qty='4', Tax=2065.0),
 Row(itemid='5', itemname='notebook', itemcost=None, supplier=None, grade=None, qty=None, Tax=None),
 Row(itemid='6', itemname=None, itemcost=None, supplier=None, grade=None, qty=None, Tax=None),
 Row(itemid='7', itemname='shopner', itemcost=None, supplier='Y', grade='C', qty=None, Tax=None),
 Row(itemid='8', itemname='Duster', itemcost='54', supplier='Y', grade='C', qty='3', Tax=2054.0),
 Row(itemid='9', itemname='Chock', itemcost='65', supplier='X', grade='A', qty='4', Tax=2065.0)]

In [22]:
df=spark.read.option("header","true").csv("D:\\items1.csv",header=True,inferSchema=True)
df.show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [23]:
df.columns

['itemid', 'itemname', 'itemcost', 'supplier', 'grade', 'qty']

In [24]:
df.head(4)

[Row(itemid=1, itemname='Pencil', itemcost=4, supplier='Y', grade='B', qty=6),
 Row(itemid=2, itemname='Pen', itemcost=43, supplier='X', grade='A', qty=1),
 Row(itemid=3, itemname='Duster', itemcost=54, supplier='Y', grade='C', qty=3),
 Row(itemid=4, itemname='Chock', itemcost=65, supplier='X', grade='A', qty=4)]

In [25]:
df.select('itemid').show()

+------+
|itemid|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
+------+

In [26]:
df.head(3)

[Row(itemid=1, itemname='Pencil', itemcost=4, supplier='Y', grade='B', qty=6),
 Row(itemid=2, itemname='Pen', itemcost=43, supplier='X', grade='A', qty=1),
 Row(itemid=3, itemname='Duster', itemcost=54, supplier='Y', grade='C', qty=3)]

In [27]:
df.dtypes

[('itemid', 'int'),
 ('itemname', 'string'),
 ('itemcost', 'int'),
 ('supplier', 'string'),
 ('grade', 'string'),
 ('qty', 'int')]

In [28]:
df.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname: string (nullable = true)
 |-- itemcost: integer (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: integer (nullable = true)

In [29]:
df2=df.withColumn('Bill',df['itemcost']*df['itemid'])
df2.show()

+------+--------+--------+--------+-----+----+----+
|itemid|itemname|itemcost|supplier|grade| qty|Bill|
+------+--------+--------+--------+-----+----+----+
|     1|  Pencil|       4|       Y|    B|   6|   4|
|     2|     Pen|      43|       X|    A|   1|  86|
|     3|  Duster|      54|       Y|    C|   3| 162|
|     4|   Chock|      65|       X|    A|   4| 260|
|     5|notebook|    null|    null| null|null|null|
|     6|    null|    null|    null| null|null|null|
|     7| shopner|    null|       Y|    C|null|null|
|     8|  Duster|      54|       Y|    C|   3| 432|
|     9|   Chock|      65|       X|    A|   4| 585|
+------+--------+--------+--------+-----+----+----+

In [30]:
#Rename Column
df.withColumnRenamed('qty','Quantity').show()

+------+--------+--------+--------+-----+--------+
|itemid|itemname|itemcost|supplier|grade|Quantity|
+------+--------+--------+--------+-----+--------+
|     1|  Pencil|       4|       Y|    B|       6|
|     2|     Pen|      43|       X|    A|       1|
|     3|  Duster|      54|       Y|    C|       3|
|     4|   Chock|      65|       X|    A|       4|
|     5|notebook|    null|    null| null|    null|
|     6|    null|    null|    null| null|    null|
|     7| shopner|    null|       Y|    C|    null|
|     8|  Duster|      54|       Y|    C|       3|
|     9|   Chock|      65|       X|    A|       4|
+------+--------+--------+--------+-----+--------+

In [31]:
#Drop Column
df2.drop('Bill').show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [32]:
#drop null value
df1.na.drop(how="any").show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     1|  Pencil|       4|       Y|    B|  6|
|     2|     Pen|      43|       X|    A|  1|
|     3|  Duster|      54|       Y|    C|  3|
|     4|   Chock|      65|       X|    A|  4|
|     8|  Duster|      54|       Y|    C|  3|
|     9|   Chock|      65|       X|    A|  4|
+------+--------+--------+--------+-----+---+

In [33]:

df.show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [34]:
df.na.fill('Not Provided').show()

+------+------------+--------+------------+------------+----+
|itemid|    itemname|itemcost|    supplier|       grade| qty|
+------+------------+--------+------------+------------+----+
|     1|      Pencil|       4|           Y|           B|   6|
|     2|         Pen|      43|           X|           A|   1|
|     3|      Duster|      54|           Y|           C|   3|
|     4|       Chock|      65|           X|           A|   4|
|     5|    notebook|    null|Not Provided|Not Provided|null|
|     6|Not Provided|    null|Not Provided|Not Provided|null|
|     7|     shopner|    null|           Y|           C|null|
|     8|      Duster|      54|           Y|           C|   3|
|     9|       Chock|      65|           X|           A|   4|
+------+------------+--------+------------+------------+----+

In [35]:
df.na.fill(999).show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     1|  Pencil|       4|       Y|    B|  6|
|     2|     Pen|      43|       X|    A|  1|
|     3|  Duster|      54|       Y|    C|  3|
|     4|   Chock|      65|       X|    A|  4|
|     5|notebook|     999|    null| null|999|
|     6|    null|     999|    null| null|999|
|     7| shopner|     999|       Y|    C|999|
|     8|  Duster|      54|       Y|    C|  3|
|     9|   Chock|      65|       X|    A|  4|
+------+--------+--------+--------+-----+---+

In [36]:
df.show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [37]:
df.na.drop(how='any',thresh=3).show()#minimum 3 nonnul value has to there

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [38]:
df.na.drop(subset=['itemid']).show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [39]:
df.na.fill(0).show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     1|  Pencil|       4|       Y|    B|  6|
|     2|     Pen|      43|       X|    A|  1|
|     3|  Duster|      54|       Y|    C|  3|
|     4|   Chock|      65|       X|    A|  4|
|     5|notebook|       0|    null| null|  0|
|     6|    null|       0|    null| null|  0|
|     7| shopner|       0|       Y|    C|  0|
|     8|  Duster|      54|       Y|    C|  3|
|     9|   Chock|      65|       X|    A|  4|
+------+--------+--------+--------+-----+---+

In [40]:
df.na.fill(0,['itemcost']).show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|       0|    null| null|null|
|     6|    null|       0|    null| null|null|
|     7| shopner|       0|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

In [41]:
df.na.fill(0,['itemcost','qty']).show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     1|  Pencil|       4|       Y|    B|  6|
|     2|     Pen|      43|       X|    A|  1|
|     3|  Duster|      54|       Y|    C|  3|
|     4|   Chock|      65|       X|    A|  4|
|     5|notebook|       0|    null| null|  0|
|     6|    null|       0|    null| null|  0|
|     7| shopner|       0|       Y|    C|  0|
|     8|  Duster|      54|       Y|    C|  3|
|     9|   Chock|      65|       X|    A|  4|
+------+--------+--------+--------+-----+---+

In [42]:
from pyspark.sql import functions as f
df.agg(f.mean('itemcost')).show()

+-------------+
|avg(itemcost)|
+-------------+
|         47.5|
+-------------+

In [43]:
#type casting in spark
#*f.mean(df['itemcost']).

In [44]:
from pyspark.ml.feature import Imputer
imp =Imputer(inputCols=['itemcost','qty'],
            outputCols=['{}_Imputed'.format(c) for c in ['itemcost','qty']]).setStrategy("mean")

In [45]:
imp.fit(df).transform(df).show()

+------+--------+--------+--------+-----+----+----------------+-----------+
|itemid|itemname|itemcost|supplier|grade| qty|itemcost_Imputed|qty_Imputed|
+------+--------+--------+--------+-----+----+----------------+-----------+
|     1|  Pencil|       4|       Y|    B|   6|               4|          6|
|     2|     Pen|      43|       X|    A|   1|              43|          1|
|     3|  Duster|      54|       Y|    C|   3|              54|          3|
|     4|   Chock|      65|       X|    A|   4|              65|          4|
|     5|notebook|    null|    null| null|null|              47|          3|
|     6|    null|    null|    null| null|null|              47|          3|
|     7| shopner|    null|       Y|    C|null|              47|          3|
|     8|  Duster|      54|       Y|    C|   3|              54|          3|
|     9|   Chock|      65|       X|    A|   4|              65|          4|
+------+--------+--------+--------+-----+----+----------------+-----------+

In [46]:
from pyspark.ml.feature import Imputer
imp =Imputer(inputCols=['itemcost','qty'],
            outputCols=['{}_Imputed'.format(c) for c in ['itemcost','qty']]).setStrategy("median")

In [47]:
imp.fit(df).transform(df).show()

+------+--------+--------+--------+-----+----+----------------+-----------+
|itemid|itemname|itemcost|supplier|grade| qty|itemcost_Imputed|qty_Imputed|
+------+--------+--------+--------+-----+----+----------------+-----------+
|     1|  Pencil|       4|       Y|    B|   6|               4|          6|
|     2|     Pen|      43|       X|    A|   1|              43|          1|
|     3|  Duster|      54|       Y|    C|   3|              54|          3|
|     4|   Chock|      65|       X|    A|   4|              65|          4|
|     5|notebook|    null|    null| null|null|              54|          3|
|     6|    null|    null|    null| null|null|              54|          3|
|     7| shopner|    null|       Y|    C|null|              54|          3|
|     8|  Duster|      54|       Y|    C|   3|              54|          3|
|     9|   Chock|      65|       X|    A|   4|              65|          4|
+------+--------+--------+--------+-----+----+----------------+-----------+

In [48]:
from pyspark.ml.feature import Imputer
imp =Imputer(inputCols=['itemcost','qty'],
            outputCols=['{}_Imputed'.format(c) for c in ['itemcost','qty']]).setStrategy("mode")

In [49]:
imp.fit(df).transform(df).show()

+------+--------+--------+--------+-----+----+----------------+-----------+
|itemid|itemname|itemcost|supplier|grade| qty|itemcost_Imputed|qty_Imputed|
+------+--------+--------+--------+-----+----+----------------+-----------+
|     1|  Pencil|       4|       Y|    B|   6|               4|          6|
|     2|     Pen|      43|       X|    A|   1|              43|          1|
|     3|  Duster|      54|       Y|    C|   3|              54|          3|
|     4|   Chock|      65|       X|    A|   4|              65|          4|
|     5|notebook|    null|    null| null|null|              54|          3|
|     6|    null|    null|    null| null|null|              54|          3|
|     7| shopner|    null|       Y|    C|null|              54|          3|
|     8|  Duster|      54|       Y|    C|   3|              54|          3|
|     9|   Chock|      65|       X|    A|   4|              65|          4|
+------+--------+--------+--------+-----+----+----------------+-----------+

In [50]:
df.filter("itemcost>=5").show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     2|     Pen|      43|       X|    A|  1|
|     3|  Duster|      54|       Y|    C|  3|
|     4|   Chock|      65|       X|    A|  4|
|     8|  Duster|      54|       Y|    C|  3|
|     9|   Chock|      65|       X|    A|  4|
+------+--------+--------+--------+-----+---+

In [51]:
df.filter(df["itemcost"]>=10).show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     2|     Pen|      43|       X|    A|  1|
|     3|  Duster|      54|       Y|    C|  3|
|     4|   Chock|      65|       X|    A|  4|
|     8|  Duster|      54|       Y|    C|  3|
|     9|   Chock|      65|       X|    A|  4|
+------+--------+--------+--------+-----+---+

In [52]:
df.filter(~(df["itemcost"]>=100)).show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     1|  Pencil|       4|       Y|    B|  6|
|     2|     Pen|      43|       X|    A|  1|
|     3|  Duster|      54|       Y|    C|  3|
|     4|   Chock|      65|       X|    A|  4|
|     8|  Duster|      54|       Y|    C|  3|
|     9|   Chock|      65|       X|    A|  4|
+------+--------+--------+--------+-----+---+

In [53]:
df.filter((df["itemname"]>=1) & (df["qty"]<=1)).show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
+------+--------+--------+--------+-----+---+

In [54]:
df.show()
df.dropDuplicates(["supplier"]).show()

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     5|notebook|    null|    null| null|null|
|     2|     Pen|      43|       X|    A|   1|
|     1|  Pencil|       4|       Y|    B|   6|
+------+--------+--------+--------+-----+----+

In [55]:
df.distinct().show()
#

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     3|  Duster|      54|       Y|    C|   3|
|     6|    null|    null|    null| null|null|
|     5|notebook|    null|    null| null|null|
|     9|   Chock|      65|       X|    A|   4|
|     2|     Pen|      43|       X|    A|   1|
|     4|   Chock|      65|       X|    A|   4|
|     1|  Pencil|       4|       Y|    B|   6|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
+------+--------+--------+--------+-----+----+

In [56]:
df.select("supplier").show()

+--------+
|supplier|
+--------+
|       Y|
|       X|
|       Y|
|       X|
|    null|
|    null|
|       Y|
|       Y|
|       X|
+--------+

In [57]:
df.select("supplier").distinct().show()

+--------+
|supplier|
+--------+
|    null|
|       Y|
|       X|
+--------+

In [58]:
df.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname: string (nullable = true)
 |-- itemcost: integer (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: integer (nullable = true)

In [59]:
from pyspark.sql.types import IntegerType,DataType
df1=df.withColumn('itemid',df['itemid'].cast("integer"))#.withColumn('itemcost',df['itemcost'].cast("float"))
df1.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname: string (nullable = true)
 |-- itemcost: integer (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: integer (nullable = true)

In [60]:
data=[(2323,'12/31/2020'),(2345,'2/1/2021')]
df=spark.createDataFrame(data,['id','joiningdate'])
df.show()

+----+-----------+
|  id|joiningdate|
+----+-----------+
|2323| 12/31/2020|
|2345|   2/1/2021|
+----+-----------+

In [61]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- joiningdate: string (nullable = true)

In [65]:
df2=df.withColumn('joiningdate',df['joiningdate'].cast("date"))#.withColumn('itemcost',df['itemcost'].cast("float"))
df2.printSchema()

root
 |-- id: long (nullable = true)
 |-- joiningdate: date (nullable = true)

In [68]:
#import spark.sqlContext.implicits._
#df3=df.withColumn("Professiondate",add_months("joiningdate",2))
#df3.show()

In [67]:
#concate twoframe
Idf1=spark.read.option("header","true").csv("D:\\items.csv",header=True,inferSchema=True)
Idf1.show()
Idf2=spark.read.option("header","true").csv("D:\\items1.csv",header=True,inferSchema=True)
Idf2.show()
result=Idf1.union(Idf2)
#result=Idf1.unionByName(Idf2)#col name should be matching
result.show()

import functools
def joinFrames(frameList):
    result=functools.reduce(lambda f1,f2:f1.union(f2.select(f1.columns)),frameList)
    return result
resultFrame=joinFrames([Idf1,Idf2])
resultFrame.show()

+------+--------+--------+----+-----+----+
|itemid|itemname|itemcost|s_id|grade| qty|
+------+--------+--------+----+-----+----+
|     1|  Pencil|       4|   Y|    B|   6|
|     2|     Pen|      43|   X|    A|   1|
|     3|  Duster|      54|   Y|    C|   3|
|     4|   Chock|      65|   X|    A|   4|
|     5|notebook|    null|null| null|null|
|     7| shopner|    null|   Y|    C|null|
|     8|  Duster|      54|   Y|    C|   3|
|     9|   Chock|      65|   X|    A|   4|
+------+--------+--------+----+-----+----+

+------+--------+--------+--------+-----+----+
|itemid|itemname|itemcost|supplier|grade| qty|
+------+--------+--------+--------+-----+----+
|     1|  Pencil|       4|       Y|    B|   6|
|     2|     Pen|      43|       X|    A|   1|
|     3|  Duster|      54|       Y|    C|   3|
|     4|   Chock|      65|       X|    A|   4|
|     5|notebook|    null|    null| null|null|
|     6|    null|    null|    null| null|null|
|     7| shopner|    null|       Y|    C|null|
|     8|  Duster|      54|       Y|    C|   3|
|     9|   Chock|      65|       X|    A|   4|
+------+--------+--------+--------+-----+----+

+------+--------+--------+----+-----+----+
|itemid|itemname|itemcost|s_id|grade| qty|
+------+--------+--------+----+-----+----+
|     1|  Pencil|       4|   Y|    B|   6|
|     2|     Pen|      43|   X|    A|   1|
|     3|  Duster|      54|   Y|    C|   3|
|     4|   Chock|      65|   X|    A|   4|
|     5|notebook|    null|null| null|null|
|     7| shopner|    null|   Y|    C|null|
|     8|  Duster|      54|   Y|    C|   3|
|     9|   Chock|      65|   X|    A|   4|
|     1|  Pencil|       4|   Y|    B|   6|
|     2|     Pen|      43|   X|    A|   1|
|     3|  Duster|      54|   Y|    C|   3|
|     4|   Chock|      65|   X|    A|   4|
|     5|notebook|    null|null| null|null|
|     6|    null|    null|null| null|null|
|     7| shopner|    null|   Y|    C|null|
|     8|  Duster|      54|   Y|    C|   3|
|     9|   Chock|      65|   X|    A|   4|
+------+--------+--------+----+-----+----+

AnalysisException: cannot resolve 's_id' given input columns: [grade, itemcost, itemid, itemname, qty, supplier];
'Project [itemid#1643, itemname#1644, itemcost#1645, 's_id, grade#1647, qty#1648]
+- Relation [itemid#1643,itemname#1644,itemcost#1645,supplier#1646,grade#1647,qty#1648] csv

In [69]:
sdf1=spark.read.option("header","true").csv("D:\\Stud.csv",header=True,inferSchema=True)
sdf1.show()
sdf2=spark.read.option("header","true").csv("D:\\Stud1.csv",header=True,inferSchema=True)
sdf2.show()
result=sdf1.union(sdf2)
#result=Idf1.unionByName(Idf2)#col name should be matching
result.show()

import functools
def joinFrames(frameList):
    result=functools.reduce(lambda f1,f2:f1.union(f2.select(f1.columns)),frameList)
    return result
resultFrame=joinFrames([sdf1,sdf2])
resultFrame.show()

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   101|     tyu|      66|
|   102|      pp|      50|
|   103|      jj|      77|
|   104|      ee|      87|
|   105|      rt|      60|
+------+--------+--------+

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   102|     tyu|      66|
|   105|       p|      70|
|   103|       o|      77|
|   111|       k|      76|
|   105|      rt|      55|
+------+--------+--------+

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   101|     tyu|      66|
|   102|      pp|      50|
|   103|      jj|      77|
|   104|      ee|      87|
|   105|      rt|      60|
|   102|     tyu|      66|
|   105|       p|      70|
|   103|       o|      77|
|   111|       k|      76|
|   105|      rt|      55|
+------+--------+--------+

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   101|     tyu|      66|
|   102|      pp|      50|
|   103|      jj|      77|
|   104|      ee|      87|
|   105|      rt|      60|
|   102|     tyu|      66|
|   105|       p|      70|
|   103|       o|      77|
|   111|       k|      76|
|   105|      rt|      55|
+------+--------+--------+

In [70]:
#join in dataframe
sdf1=spark.read.option("header","true").csv("D:\\Stud.csv",header=True,inferSchema=True)
sdf1.show()
sdf2=spark.read.option("header","true").csv("D:\\Stud1.csv",header=True,inferSchema=True)
sdf2.show()

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   101|     tyu|      66|
|   102|      pp|      50|
|   103|      jj|      77|
|   104|      ee|      87|
|   105|      rt|      60|
+------+--------+--------+

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   102|     tyu|      66|
|   105|       p|      70|
|   103|       o|      77|
|   111|       k|      76|
|   105|      rt|      55|
+------+--------+--------+

In [71]:
sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"inner")
sdf3.show()

+------+--------+--------+------+--------+--------+
|studid|studname|studmark|studid|studname|studmark|
+------+--------+--------+------+--------+--------+
|   102|      pp|      50|   102|     tyu|      66|
|   103|      jj|      77|   103|       o|      77|
|   105|      rt|      60|   105|      rt|      55|
|   105|      rt|      60|   105|       p|      70|
+------+--------+--------+------+--------+--------+

In [72]:
sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"outer")
sdf3.show()

+------+--------+--------+------+--------+--------+
|studid|studname|studmark|studid|studname|studmark|
+------+--------+--------+------+--------+--------+
|   101|     tyu|      66|  null|    null|    null|
|   102|      pp|      50|   102|     tyu|      66|
|   103|      jj|      77|   103|       o|      77|
|   104|      ee|      87|  null|    null|    null|
|   105|      rt|      60|   105|       p|      70|
|   105|      rt|      60|   105|      rt|      55|
|  null|    null|    null|   111|       k|      76|
+------+--------+--------+------+--------+--------+

In [73]:
sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"fullouter")
sdf3.show()

+------+--------+--------+------+--------+--------+
|studid|studname|studmark|studid|studname|studmark|
+------+--------+--------+------+--------+--------+
|   101|     tyu|      66|  null|    null|    null|
|   102|      pp|      50|   102|     tyu|      66|
|   103|      jj|      77|   103|       o|      77|
|   104|      ee|      87|  null|    null|    null|
|   105|      rt|      60|   105|       p|      70|
|   105|      rt|      60|   105|      rt|      55|
|  null|    null|    null|   111|       k|      76|
+------+--------+--------+------+--------+--------+

In [74]:
sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"leftsemi")
#sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"left")
sdf3.show()

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   102|      pp|      50|
|   103|      jj|      77|
|   105|      rt|      60|
+------+--------+--------+

In [75]:
#sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"rightouter")
sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"right")
sdf3.show()

+------+--------+--------+------+--------+--------+
|studid|studname|studmark|studid|studname|studmark|
+------+--------+--------+------+--------+--------+
|   102|      pp|      50|   102|     tyu|      66|
|   105|      rt|      60|   105|       p|      70|
|   103|      jj|      77|   103|       o|      77|
|  null|    null|    null|   111|       k|      76|
|   105|      rt|      60|   105|      rt|      55|
+------+--------+--------+------+--------+--------+

In [76]:
sdf3=sdf1.join(sdf2,sdf1.studid==sdf2.studid,"leftanti")
sdf3.show()

+------+--------+--------+
|studid|studname|studmark|
+------+--------+--------+
|   101|     tyu|      66|
|   104|      ee|      87|
+------+--------+--------+

In [77]:
sdf1=spark.read.option("header","true").csv("D:\Authors.csv",header=True,inferSchema=True)
sdf1.show()
sdf2=spark.read.option("header","true").csv("D:\Books.csv",header=True,inferSchema=True)
sdf2.show()

+---+-------------+
|Aid|   AuthorName|
+---+-------------+
|121|  Tarak Mehta|
|120|   Kiran Bedi|
|122|Vishwas Patil|
|123|P.L.Deshpande|
|134|     V.P.Kale|
|135| G.A.Kulkarni|
+---+-------------+

+------+-------------+--------+---+
|BookId|     BookName|BookCost|Aid|
+------+-------------+--------+---+
|  1001|       I Dare|     300|120|
|  1002|  The Shivaji|    2000|122|
|  1003|      Panipat|    1000|122|
|  1004|  Asami Asami|    2000|123|
|  1005|   Sweet Home|     500|121|
|  1006|  India Today|    2250|122|
|  1007|Know Yourself|    1334|124|
+------+-------------+--------+---+

In [79]:
sdf3=sdf1.join(sdf2,sdf1.Aid==sdf2.Aid,"inner")
sdf3.show()

+---+-------------+------+-----------+--------+---+
|Aid|   AuthorName|BookId|   BookName|BookCost|Aid|
+---+-------------+------+-----------+--------+---+
|120|   Kiran Bedi|  1001|     I Dare|     300|120|
|122|Vishwas Patil|  1002|The Shivaji|    2000|122|
|122|Vishwas Patil|  1003|    Panipat|    1000|122|
|123|P.L.Deshpande|  1004|Asami Asami|    2000|123|
|121|  Tarak Mehta|  1005| Sweet Home|     500|121|
|122|Vishwas Patil|  1006|India Today|    2250|122|
+---+-------------+------+-----------+--------+---+

In [80]:
sdf3=sdf1.join(sdf2,sdf1.Aid==sdf2.Aid,"outer")
sdf3.show()

+----+-------------+------+-------------+--------+----+
| Aid|   AuthorName|BookId|     BookName|BookCost| Aid|
+----+-------------+------+-------------+--------+----+
| 120|   Kiran Bedi|  1001|       I Dare|     300| 120|
| 121|  Tarak Mehta|  1005|   Sweet Home|     500| 121|
| 122|Vishwas Patil|  1002|  The Shivaji|    2000| 122|
| 122|Vishwas Patil|  1003|      Panipat|    1000| 122|
| 122|Vishwas Patil|  1006|  India Today|    2250| 122|
| 123|P.L.Deshpande|  1004|  Asami Asami|    2000| 123|
|null|         null|  1007|Know Yourself|    1334| 124|
| 134|     V.P.Kale|  null|         null|    null|null|
| 135| G.A.Kulkarni|  null|         null|    null|null|
+----+-------------+------+-------------+--------+----+

In [81]:
sdf3=sdf1.join(sdf2,sdf1.Aid==sdf2.Aid,"left")
sdf3.show()

+---+-------------+------+-----------+--------+----+
|Aid|   AuthorName|BookId|   BookName|BookCost| Aid|
+---+-------------+------+-----------+--------+----+
|121|  Tarak Mehta|  1005| Sweet Home|     500| 121|
|120|   Kiran Bedi|  1001|     I Dare|     300| 120|
|122|Vishwas Patil|  1006|India Today|    2250| 122|
|122|Vishwas Patil|  1003|    Panipat|    1000| 122|
|122|Vishwas Patil|  1002|The Shivaji|    2000| 122|
|123|P.L.Deshpande|  1004|Asami Asami|    2000| 123|
|134|     V.P.Kale|  null|       null|    null|null|
|135| G.A.Kulkarni|  null|       null|    null|null|
+---+-------------+------+-----------+--------+----+

In [82]:
sdf3=sdf1.join(sdf2,sdf1.Aid==sdf2.Aid,"fullouter")
sdf3.show()

+----+-------------+------+-------------+--------+----+
| Aid|   AuthorName|BookId|     BookName|BookCost| Aid|
+----+-------------+------+-------------+--------+----+
| 120|   Kiran Bedi|  1001|       I Dare|     300| 120|
| 121|  Tarak Mehta|  1005|   Sweet Home|     500| 121|
| 122|Vishwas Patil|  1002|  The Shivaji|    2000| 122|
| 122|Vishwas Patil|  1003|      Panipat|    1000| 122|
| 122|Vishwas Patil|  1006|  India Today|    2250| 122|
| 123|P.L.Deshpande|  1004|  Asami Asami|    2000| 123|
|null|         null|  1007|Know Yourself|    1334| 124|
| 134|     V.P.Kale|  null|         null|    null|null|
| 135| G.A.Kulkarni|  null|         null|    null|null|
+----+-------------+------+-------------+--------+----+

In [63]:
edf=spark.read.option("header","true").csv("D:\\employees.csv",header=True,inferSchema=True)
edf.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [34]:
edf.columns

['First Name',
 'Gender',
 'Start Date',
 'Last Login Time',
 'Salary',
 'Bonus %',
 'Senior Management',
 'Team']

In [ ]:
edf1=edf.na.drop(how="any").show()

In [ ]:
edf.dtypes

In [125]:

edf.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [126]:
edf.na.fill('empty').show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|               empty|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|     empty|          empty| 65476| 10.012|             true|             Product|
|     empty|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|     empty|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|     empty|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|               empty|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [127]:
edf.na.fill(101).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|   101| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  101.0|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|   101|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|   101|  101.0|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|  101.0|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [128]:

edf.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [129]:
edf.na.drop(how='any',thresh=2).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [130]:
edf.na.drop(subset=['Salary']).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714|  4.934|             true|               Legal|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612| 13.645|            false|           Marketing|
|    Joshua|  null|03-08-2012|        1:58 AM| 90816| 18.816|             true|     Client Services|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [131]:
edf.na.fill(0).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|     0| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|    0.0|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|     0|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|     0|    0.0|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|    0.0|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [134]:
edf.na.fill(0,['Salary','Bonus %']).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|     0| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|    0.0|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|     0|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|     0|    0.0|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|    0.0|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [138]:
edf.describe().show()

+-------+----------+------+----------+---------------+------------------+-----------------+--------------------+
|summary|First Name|Gender|Start Date|Last Login Time|            Salary|          Bonus %|                Team|
+-------+----------+------+----------+---------------+------------------+-----------------+--------------------+
|  count|       933|   855|       997|            999|               997|              997|                 957|
|   mean|      null|  null|      null|           null| 90656.65095285857|10.19869007021063|                null|
| stddev|      null|  null|      null|           null|32916.794268247395|5.530276746856254|                null|
|    min|     Aaron|Female|01-01-2014|       10:00 AM|             35013|            1.015|Business Development|
|    max|    Willie|  Male| 9/30/2007|        9:59 AM|            149908|           19.944|               Sales|
+-------+----------+------+----------+---------------+------------------+-----------------+--------------------+

In [151]:
from pyspark.sql import functions as f
edf.agg(f.mean("Salary")).show()

+-----------------+
|      avg(Salary)|
+-----------------+
|90656.65095285857|
+-----------------+

In [162]:
from pyspark.ml.feature import Imputer
imp =Imputer(inputCols=['Salary','Bonus %'],
            outputCols=['{}_Imputed'.format(c) for c in ['Salary','Bonus %']]).setStrategy("mean")

In [163]:
imp.fit(edf).transform(edf).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+-----------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|Salary_Imputed|  Bonus %_Imputed|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+-----------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|         97308|            6.945|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|         61933|             4.17|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|         90656|           11.858|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|        138705|10.19869007021063|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|         90656|            1.389|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|        115163|           10.125|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|         65476|           10.012|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|         90656|10.19869007021063|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|         95570|10.19869007021063|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|        139852|            7.524|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|         63241|           15.132|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|        102508|           12.637|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|        112807|           17.492|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|        109831|            5.831|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|         41426|           14.543|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|         59414|            1.256|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|         90370|            7.369|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|        111737|            6.414|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|        132940|           19.082|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|         81014|            1.894|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+-----------------+
only showing top 20 rows

In [166]:
imp =Imputer(inputCols=['Salary','Bonus %'],
            outputCols=['{}_Imputed'.format(c) for c in ['Salary','Bonus %']]).setStrategy("mean")

In [167]:
imp.fit(edf).transform(edf).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+-----------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|Salary_Imputed|  Bonus %_Imputed|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+-----------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|         97308|            6.945|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|         61933|             4.17|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|         90656|           11.858|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|        138705|10.19871987951807|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|         90656|            1.389|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|        115163|           10.125|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|         65476|           10.012|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|         90656|10.19871987951807|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|         95570|10.19871987951807|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|        139852|            7.524|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|         63241|           15.132|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|        102508|           12.637|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|        112807|           17.492|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|        109831|            5.831|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|         41426|           14.543|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|         59414|            1.256|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|         90370|            7.369|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|        111737|            6.414|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|        132940|           19.082|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|         81014|            1.894|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+-----------------+
only showing top 20 rows

In [41]:
imp =Imputer(inputCols=['Salary','Bonus %'],
            outputCols=['{}_Imputed'.format(c) for c in ['Salary','Bonus %']]).setStrategy("median")

In [42]:
imp.fit(edf).transform(edf).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+---------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|Salary_Imputed|Bonus %_Imputed|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+---------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|         97308|          6.945|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|         61933|           4.17|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|         90370|         11.858|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|        138705|          9.801|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|         90370|          1.389|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|        115163|         10.125|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|         65476|         10.012|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|         90370|          9.801|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|         95570|          9.801|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|        139852|          7.524|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|         63241|         15.132|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|        102508|         12.637|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|        112807|         17.492|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|        109831|          5.831|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|         41426|         14.543|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|         59414|          1.256|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|         90370|          7.369|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|        111737|          6.414|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|        132940|         19.082|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|         81014|          1.894|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+---------------+
only showing top 20 rows

In [44]:
imp =Imputer(inputCols=['Salary','Bonus %'],
            outputCols=['{}_Imputed'.format(c) for c in ['Salary','Bonus %']]).setStrategy("mode")

In [45]:
imp.fit(edf).transform(edf).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+---------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|Salary_Imputed|Bonus %_Imputed|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+---------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|         97308|          6.945|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|         61933|           4.17|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|         86676|         11.858|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|        138705|          8.999|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|         86676|          1.389|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|        115163|         10.125|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|         65476|         10.012|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|         86676|          8.999|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|         95570|          8.999|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|        139852|          7.524|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|         63241|         15.132|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|        102508|         12.637|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|        112807|         17.492|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|        109831|          5.831|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|         41426|         14.543|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|         59414|          1.256|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|         90370|          7.369|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|        111737|          6.414|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|        132940|         19.082|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|         81014|          1.894|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+---------------+
only showing top 20 rows

In [78]:
edf.filter((edf["Salary"]>80000) & (edf["Salary"]>50000) & ~(edf["Salary"]>100000)).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
|    Joshua|  null|03-08-2012|        1:58 AM| 90816| 18.816|             true|     Client Services|
|      John|  Male|07-01-1992|       10:08 PM| 97950| 13.873|            false|     Client Services|
|     Joyce|  null| 2/20/2005|        2:40 PM| 88657| 12.752|            false|             Product|
|     Jerry|  Male|01-10-2004|       12:56 PM| 95734| 19.096|            false|     Client Services|
|   Theresa|Female|10-10-2006|        1:12 AM| 85182| 16.675|            false|               Sales|
|   Michael|  Male|10-10-2008|       11:25 AM| 99283|  2.665|             true|        Distribution|
|     Roger|  Male| 4/17/1980|       11:32 AM| 88010| 13.886|             true|               Sales|
|  Clarence|  Male| 3/26/1996|        5:57 AM| 93581|  6.083|             true|Business Development|
|     Nancy|Female| 9/23/2000|        8:05 AM| 94976|  13.83|             true|         Engineering|
|      Sara|Female| 8/15/2007|        9:23 AM| 83677|  8.999|            false|         Engineering|
|      Jose|  Male|10/30/2004|        1:39 PM| 84834|  14.33|             true|             Finance|
|      Todd|  null|06-10-2003|        2:26 PM| 84692|  6.617|            false|     Client Services|
|   Frances|Female|04-04-1999|        4:19 PM| 90582|  4.709|             true|               Sales|
|     Doris|Female| 8/20/2004|        5:51 AM| 83072|  7.511|            false|             Finance|
|    Janice|  null| 8/21/1997|        5:12 AM| 91719| 11.583|             true|               Legal|
|      John|  Male|12/23/1989|        7:01 AM| 80740| 19.305|            false|           Marketing|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [81]:
ed1=edf.drop((edf["Salary"]>100000))
ed1.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows